code .str,
pre .str {
  color: #65b042;
}
code .kwd,
pre .kwd {
  color: #e28964;
}
code .com,
pre .com {
  color: #aeaeae;
  font-style: italic;
}
code .typ,
pre .typ {
  color: #89bdff;
}
code .lit,
pre .lit {
  color: #3387cc;
}
code .pln,
code .pun,
pre .pln,
pre .pun {
  color: #fff;
}
code .tag,
pre .tag {
  color: #89bdff;
}
code .atn,
pre .atn {
  color: #bdb76b;
}
code .atv,
pre .atv {
  color: #65b042;
}
code .dec,
pre .dec {
  color: #3387cc;
}
code.prettyprint,
pre.prettyprint {
  background-color: #000;
  border-radius: 8px;
}
pre.prettyprint {
  width: 95%;
  margin: 1em auto;
  padding: 1em;
  white-space: pre-wrap;
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}
@media print {
  code .str,
  pre .str {
    color: #060;
  }
  code .kwd,
  pre .kwd {
    color: #006;
    font-weight: 700;
  }
  code .com,
  pre .com {
    color: #600;
    font-style: italic;
  }
  code .typ,
  pre .typ {
    color: #404;
    font-weight: 700;
  }
  code .lit,
  pre .lit {
    color: #044;
  }
  code .pun,
  pre .pun {
    color: #440;
  }
  code .pln,
  pre .pln {
    color: #000;
  }
  code .tag,
  pre .tag {
    color: #006;
    font-weight: 700;
  }
  code .atn,
  pre .atn {
    color: #404;
  }
  code .atv,
  pre .atv {
    color: #060;
  }
}
