body {
  margin: 0;
}


/* Header.jsx */

.navbar {
  z-index: 100;
}


/* Scrollbar */


::-webkit-scrollbar { width: 14px; height: 18px;}
::-webkit-scrollbar-track { background-clip: padding-box; background-color: #2f3136; border-radius: 10px;}
::-webkit-scrollbar-thumb { border: 3px solid rgba(0,0,0,0); background-clip: padding-box; background-color: #0e0f0f; border-radius: 10px;}
::-webkit-scrollbar-button { width: 0; height: 0; display: none;}



/* Dashboard */

.sidebar-grid { 
  grid-area: Sidebar; 
  box-shadow: inset -2px 0px 10px -4px rgba(0,0,0,0.75);
}

.messages-grid { 
  grid-area: Messages; 
  position: relative;
  background: #36393E;
}

.send-messages-grid { 
  grid-area: Send-Messages;
  background: #36393E;
  position: relative;
  display: flex;
  justify-content: center;
}


/* Sidebar.jsx */
.sidebar-container {
  display: flex;
  height: 100%;
}

.topics-container {
  position: relative;
  display: flex;
  height: 100%;
  box-sizing: border-box;
  color: white;
  flex-basis: 80%;
  height: 100%;
  background: #2f3136;
}

.servers-container {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  color: white;
  flex-basis: 20%;
  height: 100%;
  text-align: center;
  background: #202225;
}
.tooltip {
  font-size: 14px;
}

.server-icon svg {
  width: 48px;
  height: 48px;
}

.topic-list {
  width: 100%;
  padding-top: 0 !important;
  overflow-y: auto;
}

.title-container {
  box-shadow: 0 2px 0px 0px #202225;
  height: 64px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: "Roboto";
  justify-content: space-between !important;
}

.topic-hashtag {
  font-style: unset;
  font-size: 24px;
  padding-right: 8px;
  color: grey;
  vertical-align: text-bottom;
  font-weight: 900;
}

.user-options {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background: #2a2c31;
  list-style: none;
}


/* Messages.jsx */
.messages-container {
  bottom: 0px;
  padding: 1em;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  bottom: 0;
  max-height: calc(100% - 64px);
  overflow-y: auto;
  padding-bottom: 0px;
}

.message {
  padding: 1em !important;
  color: white;
  border-top: 2px solid #42454a;
  white-space: pre;
}

.message-text {
  color: white !important;
}

.topic-title {
  padding-left: 16px;
  color: white;
}

/* SendMessage.jsx */
.send-message-container {
  position: relative;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-basis: 100%;
  justify-content: center;
  z-index: 10;
}

.message-input {
  flex-basis: 85%;
}

.send-message-border {
  position: absolute;
  width: 98%;
  border-top: 2px solid #42454a;
}

.message-text-area {
  background: #484b52;
    width: 100%;
    resize: none;
    color: white;
    border-radius: 4px;
    padding: 1em;
    font-family: "Roboto";
    font-size: 15px;
    border: 1px solid #484b52;
}

.message-text-area:focus {
  outline: none;
}

.send-message-emoji-button {
  color: #707277;
  cursor: pointer;
  z-index: 30;
  position: absolute;
  right: 1em;
}

.emoji-wrapper {
  position: fixed;
  bottom: 84px;
  right: 20px;
}

.emoji-mart {
  border-radius: 0px !important;
}


.send-message-emoji-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: 40;
}

/* ServerCreateModal.jsx */

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  overflow: hidden;
  width: 70%;
  max-width: 600px;
  height: 378px;
}

.modal-main {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "modal-title modal-title modal-title modal-title" 
  "modal-create-server modal-create-server modal-join-server modal-join-server"
  "modal-create-server modal-create-server modal-join-server modal-join-server" 
  "modal-create-server modal-create-server modal-join-server modal-join-server";
  height: 100%;
  width: 100%;
}
.modal-title { grid-area: modal-title; }
.modal-create-server { grid-area: modal-create-server; }
.modal-join-server { grid-area: modal-join-server; }

.modal-create {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-template-areas: "modal-title" "modal-create-content" "modal-create-content";
  height: 100%;
  width: 100%;
}
.modal-create-content { 
  grid-area: modal-create-content; 
  text-align: center;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.modal-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: center;
}

.modal-card-icon {
  font-size: 60px !important;
  margin-bottom: 16px;
}


/* MEDIA QUERIES FOR DESKTOP */
@media only screen and (min-width: 600px) {
  .grid-container {
    height: calc(100vh);
    display: grid;
    grid-template-columns: 340px 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 0.3fr;
    grid-template-areas: "Sidebar Messages Messages Messages" "Sidebar Messages Messages Messages" "Sidebar Send-Messages Send-Messages Send-Messages";
  }

  .menu-burger-button {
    display: none !important;
  }
}


/* MEDIA QUERIES FOR MOBILE */

@media only screen and (max-width: 599px) {
  .grid-container {
    height: calc(100vh);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.7fr 0.1fr;
    grid-template-areas: "Messages" "Send-Messages";
  }

  .sidebar-grid {
    display: none;
  }

  .title-container {
    height: 56px;
  }

  .emoji-wrapper {
    bottom:0px;
    right:0px;
  }

  .emoji-mart {
    width: 100vw !important;
  }

}


.show {
  display: block;
}

.hide {
  display: none;
}