body {
  margin: 0;
}


/* Header.jsx */

.navbar {
  z-index: 100;
}





/* Dashboard */

.sidebar-grid { 
  grid-area: Sidebar; 
  background: #2E3136;
  box-shadow: inset -2px 0px 10px -4px rgba(0,0,0,0.75);
}

.messages-grid { 
  grid-area: Messages; 
  position: relative;
  background: #36393E;
}

.send-messages-grid { 
  grid-area: Send-Messages;
  background: #36393E;
  position: relative;
  display: flex;
  justify-content: center;
}


/* Sidebar.jsx */
.topics-container {
  display: flex;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
  color: white;
}

.servers-container {
  display: flex;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
  color: white;
}

/* Messages.jsx */
.messages-container {
  bottom: 0px;
  padding: 1em;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  bottom: 0;
  max-height: 100%;
  overflow-y: auto;
}

.message {
  padding: 0.3em;
}

/* SendMessage.jsx */
.send-message-container {
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-basis: 100%;
  justify-content: center;
}

.message-input {
  flex-basis: 85%;
}

.send-message-border {
  position: absolute;
  height: 100%;
  width: 90%;
  border-top: 1px solid lightgrey;
}


/* MEDIA QUERIES FOR DESKTOP */
@media only screen and (min-width: 600px) {
  .grid-container {
    height: calc(100vh - 64px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 0.5fr;
    grid-template-areas: "Sidebar Messages Messages Messages" "Sidebar Messages Messages Messages" "Sidebar Send-Messages Send-Messages Send-Messages";
  }

  .menu-burger-button {
    display: none !important;
  }
}


/* MEDIA QUERIES FOR MOBILE */

@media only screen and (max-width: 599px) {
  .grid-container {
    height: calc(100vh - 56px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.7fr 0.1fr;
    grid-template-areas: "Messages" "Send-Messages";
  }

  .sidebar-grid {
    display: none;
  }

}