.app-container {
  display: flex;
  flex-wrap: wrap;
}

.topics-container {
  flex-basis: 30%;
  height: 600px;
  border-right: 2px solid lightgray;
  padding: 1em;
  box-sizing: border-box;
}

.messages-container {
  flex-basis: 70%;
  height: 600px;
  padding: 1em;
  box-sizing: border-box;
}

.send-message-container {
  border-top: 2px solid lightgray;
  display: flex;
  flex-basis: 100%;
  height: 200px;
  padding: 1em;
  box-sizing: border-box;
  align-items: center;
}

.message-box {
  flex-basis: 90%;
}

.message-button {
  flex-basis: 10%;
}

.messages {
  padding: 0.2em;
}