body {
  margin: 0;
}


/* Header.jsx */

.app-header {

  z-index: 100;
}



/* Dashboard */

.main-container {
  display: flex;
  flex-wrap: wrap;
}


/* Topics.jsx */
.topics-flex-container {
  flex-basis: 15%;
  height: 673px;
  box-sizing: border-box;
  background: #2f3136;
  color: #ffffff;
}


/* Messages.jsx */
.messages-flex-container {
  flex-basis: 85%;
  height: 673px;
  box-sizing: border-box;
  background: #36393f;
  color: #ffffff;
  position: relative;
}

.messages-container {
  position: absolute;
  bottom: 0px;
  padding: 1em;
  overflow-y: auto;
  width: 96%;
  max-height: 95%;
}

.message {
  padding: 0.2em;
}

/* SendMessage.jsx */
.send-message-flex-container {
  display: flex;
  flex-basis: 100%;
  height: 200px;
  box-sizing: border-box;
  background: #36393f;
  position: relative;
}

.send-message-container {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 2em;
  box-sizing: border-box;
}

.message-box {
  flex-basis: 90%;
  padding: 1em;
  color: white;
}

.message-box input {
  color: white;
}

.message-button {
  flex-basis: 10%;
  padding: 1em;
}

